$white: rgba(245, 245, 245, 1);
$black: #111;
$dark-gray: rgba(33, 33, 33, 1);

* {
  position: relative;
  margin: 0;
  padding: 0;
  color: $black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 12px;
}

header {
  padding: 24px;
  background-color: $dark-gray;
}

.white {
  color: $white;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px;
}

input {
  max-width: 300px;
  padding: 12px;
  background-color: $white;
  border: solid 1px $dark-gray;
  border-radius: 8px;
  color: $dark-gray;
}

button {
  padding: 12px;
  background-color: $dark-gray;
  border: 0;
  border-radius: 8px;

  color: $white;

  cursor: pointer;

  transition: background-color 300ms ease;

  &:hover {
    background-color: $black;
  }
}
